---
import Icon from "astro-icon";
import { HeadMetadata, Metadata } from "~/core/metadata";
import Base from "~/layouts/Base.astro";
import { Articles } from "~/core/articles";
import SearchDialog from "~/components/articles/SearchDialog.astro";
import ArticlesGrid from "~/components/articles/ArticlesGrid.astro";

const head: HeadMetadata = {
    title: Metadata.constructTitle("Articles"),
    description: "Articles written by me!",
    meta: {},
};

const articles = await Articles.fetchAll();
articles.sort((a, b) => b.data.time.valueOf() - a.data.time.valueOf());
---

<Base head={head}>
    <SearchDialog />

    <div>
        <hr />

        <div class="u-container u-container-h">
            <div class="u-flex mb-8 sm:mb-10">
                <div
                    class:list={[
                        "u-flex w-full lg:w-3/4 xl:w-1/2 px-4 py-2 cursor-pointer",
                        "bg-secondary-950 hover:bg-primary-500",
                        "border border-secondary-900 hover:border-primary-500",
                        "text-secondary-500 hover:text-white",
                    ]}
                    id="article-search-dialog-button"
                >
                    <p class="pr-2">
                        <Icon class="w-5" name="ic:baseline-search" />
                    </p>
                    <p>Search...</p>
                </div>
            </div>

            <p class="text-lg pb-1 sm:pb-0">Recent Articles</p>
            <ArticlesGrid articles={articles} />
        </div>

        <script src="../../assets/scripts/article-search.ts"></script>
    </div>
</Base>
