---
import type { HeadMetadata } from "~/core/metadata";
import { Metadata } from "~/core/metadata";
import Base from "~/layouts/Base.astro";
import Hero from "~/components/home/Hero.astro";
import Projects from "~/components/home/Projects.astro";
import Technologies from "~/components/home/Technologies.astro";

const head: HeadMetadata = {
    title: Metadata.constructTitle("Home"),
    description: "Hello there!",
    meta: {},
};
---

<Base head={head}>
    <hr />
    <Hero />
    <hr />
    <div class="u-container u-container-h">
        <p class="text-lg">What do I usually use?</p>
        <Technologies />
    </div>
    <hr />
    <div class="u-container-h">
        <div class="u-container">
            <p class="text-lg">Some of my projects</p>
        </div>
        <Projects />
    </div>
    <p class="u-container pb-2 text-white/25 text-xs text-right">
        <span class="text-white/40">🎉</span> Whoo Hoo! You scrolled to the end!
    </p>

    <script src="../assets/scripts/home.ts"></script>
</Base>
