---
interface Props {
    name: string;
    link: string;
}

const { name, link } = Astro.props;
---

<p
    class:list={[
        "px-3 text-primary-500 hover:text-primary-600",
        "border-l border-secondary-900 first:border-l-0",
        "transition duration-200",
    ]}
>
    <a href={link} target="_blank">
        {name}
    </a>
</p>
