---
interface Props {
    link: string;
    active?: boolean;
}

const { link, active } = Astro.props;
---

<a
    class:list={[
        "transition duration-200",
        active
            ? "text-primary-500 hover:text-primary-600"
            : "text-white hover:text-primary-500",
    ]}
    href={link}
>
    <slot />
</a>
