---
interface Props {
    name: string;
    link: string;
}

const { name, link } = Astro.props;
---

<p title={`${name} (${link})`}>
    <a
        class="inline-block aspect-square w-6 sm:w-8 text-white/50 hover:text-primary-500 transition duration-200"
        href={link}
        target="_blank"
    >
        <slot />
    </a>
</p>
