---
import { ExternalUrls } from "~/core/urls";
import { Icon } from "astro-icon";
import SocialButton from "~/components/home/HeroSocialButton.astro";
---

<div class="u-container py-16 sm:py-28">
    <div>
        <p class="text-lg sm:text-xl pb-1 hero-tagline-def">A passionate</p>
        <p class="hero-tagline-def hero-tagline-keyword">
            <span class="text-primary-500">Full-stack Developer</span>,
        </p>
        <p class="hero-tagline-def hero-tagline-keyword">
            <span class="text-primary-500">Software Developer</span>,
        </p>
        <p class="hero-tagline-def hero-tagline-keyword">
            <span class="text-primary-500">Open-source Lover</span>
            <span class="inline-block sm:hidden">&</span>
            <span class="hidden sm:inline-block">and</span>
        </p>
        <p class="hero-tagline-def hero-tagline-keyword">
            <span class="text-primary-500">Content Writer</span>.
        </p>
    </div>
</div>

<div class="u-container pb-6 u-flex !justify-start gap-2">
    <SocialButton name="GitHub" link={ExternalUrls.github}>
        <Icon name="mdi:github" />
    </SocialButton>
    <SocialButton name="Discord" link={ExternalUrls.discord}>
        <Icon name="ic:baseline-discord" />
    </SocialButton>
    <SocialButton name="Instagram" link={ExternalUrls.instagram}>
        <Icon name="mdi:instagram" />
    </SocialButton>
    <SocialButton name="Twitter" link={ExternalUrls.twitter}>
        <Icon name="mdi:twitter" />
    </SocialButton>
</div>

<style>
    .hero-tagline-def {
        @apply leading-snug sm:leading-tight;
    }

    .hero-tagline-keyword {
        @apply text-3xl sm:text-5xl font-black;
    }
</style>
