---
interface Props {
    type: "caption" | "keyword";
    index: number;
}

const { index, type } = Astro.props;
---

<p
    class:list={[
        "hero-anim !leading-snug sm:leading-normal",
        type === "caption" && "text-lg sm:text-xl pb-1",
        type === "keyword" && "text-3xl sm:text-5xl font-black",
    ]}
    id="hero-text"
    data-index={index}
>
    <slot />
</p>

<style lang="scss">
    .hero-anim {
        @apply transition duration-300 opacity-75 scale-[0.99];

        &[data-visible="true"] {
            @apply opacity-100 scale-100;
        }
    }
</style>
