---
import { StaticAssets } from "~/core/urls";
import Item from "~/components/home/ProjectItem.astro";
---

<div class="pt-4" id="projects">
    <Item
        name="Symphony"
        link="https://zyrouge.github.io/symphony"
        description="🎵 A lightweight, elegant music player that enhances your offline music experience."
        image={StaticAssets.symphony}
        tags={["android", "kotlin", "compose", "music"]}
        backgroundColor="bg-purple-400"
    />
    <Item
        name="Phrasey"
        link="https://zyrouge.github.io/phrasey"
        description="A full-blown i18n build system."
        image={StaticAssets.phrasey}
        tags={["nodejs", "i18n"]}
        backgroundColor="bg-neutral-900"
    />
    <Item
        name="Beize"
        link="https://zyrouge.github.io/beize"
        description="A highly dynamic embeddable scripting language."
        image={StaticAssets.beize}
        tags={["dart", "programming-language", "interpreter"]}
        backgroundColor="bg-emerald-400"
    />
    <Item
        name="Pho"
        link="https://github.com/zyrouge/pho"
        description="An AppImage Manager for Linux."
        image={StaticAssets.pho}
        tags={["go", "linux"]}
        backgroundColor="bg-blue-300"
    />
</div>
