---
interface Props {
    name: string;
    type: string;
    image: string;
}

const { name, type, image } = Astro.props;
---

<div>
    <div
        class="u-flex gap-4 px-4 py-2 bg-secondary-950 border border-secondary-900"
    >
        <img class="h-auto w-8" src={image} alt={`${name}'s logo`} />
        <p class="self-stretch w-[1px] bg-secondary-900"></p>
        <div class="w-full">
            <p>{name}</p>
            <p class="text-secondary-500 text-sm">{type}</p>
        </div>
    </div>
</div>
