<div>
    <div class="u-flex">
        <div class="text-center">
            <div class="text-9xl font-bold mb-4 text-primary-500">
                <slot name="header" />
            </div>

            <div class="mb-2"><slot name="body" /></div>

            <div>
                <slot name="footer" />
            </div>
        </div>
    </div>
</div>
