---
import "~/assets/styles.scss";
import type { HeadMetadata } from "~/core/metadata";
import Head from "~/components/base/Head.astro";
import NavBar from "~/components/base/NavBar.astro";
import Footer from "~/components/base/Footer.astro";
import ScrollToTop from "~/components/base/ScrollToTop.astro";

interface Props {
    head: HeadMetadata;
}

const { head } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Head head={head} />
    </head>
    <body>
        <NavBar />
        <slot />
        <Footer />
        <ScrollToTop />
    </body>
</html>
